---
subheading: What is Take One Leave One?
heading: About
body: |-
  Take One / Leave One is an initiative committed to keeping our neighbours warm this winter and beyond.

  We're growing a network of community clothes rails, where anyone in need is invited to pick up a coat, a jumper, or whatever will help you keep toasty this winter.

  You don't need to be homeless, receiving benefits, or fulfill any special criteria to qualify. If you're finding it hard to afford warm clothes, for any reason, drop by.

  If you'd like to donate, your clothes don't have to be in tip-top, perfect condition, or the latest fashions, just make sure they're washed, dry, and suitable for the winter months, and then bring them along to any of [our locations](http://localhost:4000/#locations).

  No rails near you, but you'd still like to get involved? Setting up your own rail is easy! Have a look at [our guide](http://localhost:4000/#host).

---
<!-- About -->
<section id="about">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
        <h3 class="section-subheading text-muted">What is Take One / Leave One?</h3>
      </div>
    </div>
    
    <div class="row text-center">
      <div class="col-md-6">
        <p class="text-muted">Take One / Leave One is an initiative committed to keeping our neighbours warm this winter and beyond.</p>
        <p class="text-muted">We're growing a network of community clothes rails, where anyone in need is invited to pick up a coat, a jumper, or whatever
          will help you keep toasty this winter.</p>
        <p class="text-muted">You don't need to be homeless, recieving benefits, or fulfill any special criteria to qualify. If you're finding it hard to afford warm clothes, for any reason, drop by.</p>
        <p class="text-muted">If you'd like to donate, your clothes don't have to be in tip-top, perfect condition, or the latest fashions, just make sure they're washed, dry, and suitable for the winter months, and then bring them along to any of <a class="page-scroll" href="#locations">our locations</a>.</p>
        <p class="text-muted">No rails near you, but you'd still like to get involved? Setting up your own rail is easy! Have a look at <a class="page-scroll" href="#host"> our guide</a>.</p>
      </div>
      
      <div class="col-md-6">
        <img src="img/peckham-1.jpg" style="width: 100%; border-radius: 12px">
      </div>
    </div>

    <div class="row text-center align-items-end">
      <div class="col-md-12 p-5">
        <p>
          <br/>
          <a href="#locations" class="page-scroll btn btn-xl">Get Involved</a>
        </p>
      </div>
    </div>
  </div>
</section>